@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*Shared Styles*/
*{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: "weight";
  font-style: normal;

}
.btn-primary{
    border-radius: 8px;
    background: #213A57;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;
}
.text-light-gray{
    color: #727272;
}
.section_tittle{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

/*Header Styles Here*/
header{
    background: #80ed9959;
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.1rem;
}

nav li a{
    text-decoration: none;
    color: #424242;
}


/*Banner styles*/
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-tittle{
    font-size: 4rem;
    font-weight: 700;
    color: #131313 ;
}

.banner img{
    width: 100%;
    margin-top: 20px;
}
/* Main styles starts */
main{
    max-width: 1440px;
    margin: 70px auto;
}


/* Feature section styles */
.featureSection{
    display: flex;
    align-items: center;
}

.featureSection_child1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}
.featureSection_child2{
    padding-left: 70px;
    padding-right: 70px; 
}
.span1 .text-light-gray{
    
    font-weight: 500;
}
.span2{
    font-weight: 700;
}
.span3{
    color: #FF900E;
    font-weight: 700;
}

/* Facts section styles */
.factSection{

}







/*Responsiveness Styles from here*/
/*Mobile device*/
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav,
    .featureSection
    {
        flex-direction: column;
    }
    .featureSection_child1{
        grid-template-columns: 1fr;
    }
    .featureSection_child2{
        padding-left: 15px;
        padding-right: 15px; 
    }
}
/*Tablet/Medium device*/
@media screen and (min-width: 576px) and  (max-width: 960px) {
    nav, .featureSection{
        flex-direction: column;
    }
    header{
        padding: 50px;
    }
}